DEBUG=False
# If you want to turn on voice capabilities
ENABLE_TTS=False

# API Key from OpenAI
OPENAI_API_KEY=your-api-key
MODEL_NAME=gpt-4o-mini

# (Optional) To get weather information
# API Key from https://www.weatherapi.com
WEATHER_API_KEY=your-api-key